@page

<head>
    <link rel="stylesheet" href="/css/AboutUS.css" />
</head>


<div class="about-us-container">
        <div class="about-us-container">
            <h1>About Our Comic Business</h1>
            <p>Welcome to our comic world! We are passionate about creating and sharing amazing comics with you.</p>
        </div>
</div>

<div class="about-us-container">
    <h1>Our Journey</h1>
    <p>Our journey into the world of comics began with a single comic book, a gateway to a universe of creativity and wonder.
        What started as a childhood fascination has grown into an unwavering devotion to the art form that combines visual brilliance with gripping narratives. Over the years, we've amassed a treasure trove of comics,
        from the classic Golden Age tales to the cutting-edge stories of today's graphic novelists..</p>
</div>

<div class="about-us-container">
    <h1>Our Mission</h1>
    <p>
        Our mission is simple yet profound: to share our love for comics with the world. We believe that comics are more than just ink on paper;
        they are windows to other worlds, mirrors reflecting our society, and a medium for exploring the profound and the fantastical. We aim to foster a community of comic book enthusiasts,
        from the seasoned collector to the curious newcomer,
        and to ignite a passion for comics in everyone we encounter.
    </p>
</div>

<div class="about-us-container">
    <h1>Our Journey</h1>
    <p>
        Our journey into the world of comics began with a single comic book, a gateway to a universe of creativity and wonder.
        What started as a childhood fascination has grown into an unwavering devotion to the art form that combines visual brilliance with gripping narratives. Over the years, we've amassed a treasure trove of comics,
        from the classic Golden Age tales to the cutting-edge stories of today's graphic novelists..
    </p>
</div>
