@page

<link rel="stylesheet" href="/css/Favourites.css" />


<div class="Main">
    <div>
        <img src="/css/TekkenComic.jpg" height="170" width="100" />
    </div>

    <div class = "SubDiv">
        <h1>Tekken</h1>
        <p>
            I thoroughly enjoy the Tekken comic series. The dynamic characters, intricate plotlines,
            and stunning artwork combine to create an immersive and captivating experience.
            It's a thrilling journey through the world of martial arts and rivalry that keeps me eagerly anticipating each new issue.
        </p>
    </div>
</div>

<div class="Main">
    <div>
        <img src="/css/SupaStrikers.jpg" height="170" width="100" />
    </div>

    <div class="SubDiv">
        <h1>Supa Strikers</h1>
        <p>
            SupaStrikers is a fantastic comic series that blends soccer excitement with compelling storytelling.
            The characters' passion for the game and their journey to success make for a thrilling read.
            The vibrant illustrations truly bring the world of soccer to life, making it a must-read for fans like me.
        </p>
    </div>
</div>

<div class="Main">
    <div>
        <img src="/css/SoccerWarrior.jpg" height="170" width="100" />
    </div>

    <div class="SubDiv">
        <h1>Soccer Warrior</h1>
        <p>
            Soccer Warriors is an exhilarating comic series that fuses soccer and action-packed adventures seamlessly.
            The way it combines the beautiful game with thrilling heroics keeps me hooked.
            The characters' determination and teamwork on and off the field make it a standout in the world of sports comics.
        </p>
    </div>
</div>

<div class="Main">
    <div>
        <img src="/css/DarkKnights.jpg" height="170" width="100" />
    </div>

    <div class="SubDiv">
        <h1>Dark Knight Metal</h1>
        <p>
            Dark Knights: Metal is an epic comic series that delves deep into the dark and mysterious corners of the DC Universe.
            The intricate storyline, mind-bending alternate realities, and the emergence of nightmarish versions of iconic heroes and villains create a truly immersive reading experience.
            The artistry and creativity behind it all make Dark Knights: Metal a must-read for fans of the DC Universe and epic crossovers.
        </p>
    </div>
</div>






