@page

<link rel="stylesheet" href="/css/Favourites.css" />



<div class="Main">
    <div>
        <img src="/css/NightWing.jpg" height="360" width="220" />
    </div>

    <div class="SubDiv">
        <h1>Our Next Anticipated Arrivals</h1>
        <p>
            Nightwing #106 is a captivating addition to the Nightwing series.
            It follows Dick Grayson's journey as he continues to protect Gotham City with his unique blend of acrobatics and detective skills.
            The character development and thrilling storyline keep me eagerly turning the pages, making it a must-read for Nightwing fans.
        </p>
        <a href="https://leagueofcomicgeeks.com/comic/7290584/nightwing-106">Learn More</a>
    </div>

</div>

<div class="Main">
    <div>
        <img src="/css/Spawn.jpg" height="360" width="220" />
    </div>

    <div class="SubDiv">
        <h1>Our Next Anticipated Arrivals</h1>
        <p>
            Spawn is an iconic and long-running comic series created by Todd McFarlane.
            It revolves around Al Simmons, a former government assassin who is resurrected as a hellspawn and granted incredible powers.
            The series explores themes of redemption, vengeance, and the battle between good and evil in a dark and gritty urban setting.
            Spawn has garnered a dedicated fan base over the years due to its compelling storytelling,
            intricate world-building, and visually striking artwork. It's a must-read for fans of mature-themed superhero comics.
        </p>
        <a href="https://leagueofcomicgeeks.com/comic/5693231/spawn-345">Learn More</a>
    </div>
</div>

<div class="Main">
    <div>
        <img src="/css/Saga.jpg" height="360" width="220" />
    </div>

    <div class="SubDiv">
        <h1>Our Next Anticipated Arrivals</h1>
        <p>
            Saga #66 is a thrilling installment in the Saga comic series. 
            It continues to weave the intricate and emotionally charged story of Alana and Marko as they navigate a complex universe filled with danger and wonder.
            The stunning artwork and rich character development make each issue, including this one, a gripping and unforgettable experience for fans of the series.
        </p>
        <a href="https://leagueofcomicgeeks.com/comic/2678528/saga-66">Learn More</a>
    </div>

</div>