@page

<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places" defer></script>


<div>
    <h1>Locations Where You Can Buy Comic Books</h1>
    <p>Vist the store closet to you and pick up your favourite comic</p>
</div>

<div id="map">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=16NQli3WwSPT0eHc0nIKQVSg5hI3Hxxo&ehbc=2E312F" width="1100" height="480"></iframe>
</div>
